html {
    font-size: 18px;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
    width: 100%;
}

.container {
    padding-left: 4rem;
    width: 960px;
}

header {
    color: white;
    background-image: url("../images/glasses-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
}

header .container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 1rem;
    width: 960px;
}

.top-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    margin-bottom: 10rem;
    width: inherit;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    height: 1.5rem;
    padding: 1rem 1rem 1rem 2rem;
}

.logo span {
    font-size: 1rem;
}

nav {
    padding: 1rem 0 1rem 0;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav span {
    padding-right: 2rem;
}

.second-row {
    margin-right: -2rem;
    background-color: white;
    width: fit-content;
    text-transform:uppercase;
}

.motto {
    color: black;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    padding: 1.5rem 5rem;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.service .container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 5rem;
}

.service-title {
    color: black;
    text-align: center;
    margin-top: 1.5rem;
}

.service .paper {
    width: 3.5rem;
}

.service .ruler {
    width: 5rem;
}

.service .truck {
    width: 5rem;
}

.info-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.info-item {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.info-header {
    background-color: cadetblue;
    width: 10rem;
    text-align: left;
    padding: 0.5rem 0 0.5rem 1.25rem;
    margin-bottom: 1rem;
}

.info-header .title {
    color: white;
    font-weight: bold;
}

.info-detail {
    color: black;
}


footer {
    width: 100%;
    height: 9.5rem;
    margin-top: 5rem;
    color: black;
    background-color: azure;
}

footer .container {
    display: inline-flex;
    width: 960px;
    align-items: center;
    justify-content: flex-start;
    padding: 4rem 0 4rem 4rem;
}

footer img {
    height: 1.5rem;
    padding-right: 1rem;
}

footer span {
    display: flex;
    text-align: left;
    color: black;
}

/* Hide mobile nav menu except on mobile */

@media only screen and (min-width: 471px) {

    nav .mobile {
        display: none;
    }
}

/* Tablet settings */

@media only screen and (max-width: 1024px) {


    /* Snap header to top for tablet, mobile, plus full width for mobile */

    .container {
        padding-left: 0;
        width: unset;
    }

    header .container {
        padding-top: 0;
        width: 100%;
    }

    footer .container {
        width: 100%;
    }

    header {
        height: 22rem;
        background-position: 35%;
    }

    /* Change placement, sizing of motto relative to background graphics */

    .top-row {
        margin-bottom: 5rem;
    }

    .second-row {
        margin-right: 2rem;
    }

    .motto {
        font-size: 1.33rem;
        padding: .75rem 4rem;
    }

}

/* Mobile */
@media only screen and (max-width: 470px) {

    /* Hide regular nav on mobile */

    nav .desktop {
        display: none;
    }

    /* Only display logo (no text) for header on mobile */

    .logo span {
        display: none;
    }

    header {
        height: 17rem;
        background-position: 20%;
    }

    .top-row {
        margin-bottom: 9rem;
    }

    /* Motto spans full width */

    .second-row {
        margin-right: 0;
        width: 100%;
    }

    .motto {
        font-size: 1rem;
        padding: 1rem 0;
        text-align: center;
    }

    /* Rest of page stacks vertically */

    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 3.77rem;
        padding-bottom: 3.77rem;
    }

    .service-title {
        font-size: 0.77rem;
        text-align: center;
    }


    .info-container {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }

    .info-header {
        background-color: cadetblue;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0 0.5rem 1.25rem;
        margin-bottom: 1rem;
    }

    .info-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        font-size: 0.77rem;
        margin-bottom: 4rem;
    }

    /* Only display footer logo on phones, and center the logo */

    footer .container {
        justify-content: center;
        padding-left: 0;
    }

    footer span {
        display: none;
    }
}
